
<section class="container-fluid img-total " style="background-image: url('assets/fff.jpg'); height: 300px;">
    <span class="page-title-overlay"></span>
    <div class="container">
        <div class="body-total ">
            <h3 class="text-white font-weight-bolder h3-total ">Who We Are</h3>
            <div class="row p-a-total">
                <div class=""><a class="m-0 btn text-white font-weight-bolder ancor-total " routerLink="/">Home &nbsp;
                        -</a></div>
                <p class="p-0 mt-2 color-total ">About</p>
            </div>
        </div>
    </div>
</section>

<!-------about-video------->
<section class="container " style="padding-top: 10%; padding-bottom: 10%;">
    <div class="row">
        <div class=" col-5 about" style="background-image: url('assets/vide.jpg') ">
            <div class=" row video">
                <div class="col-5">
                    <button type="button" class="btn btn-primary btn btn-light p-4 ancor" data-toggle="modal"
                        data-target="#exampleModal"> <span class="fa fa-play span1"></span>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/-hTVNidxg2s"
                                        frameborder="0" allow=" 
                            encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--       <a  class="btn btn-light p-4 ancor"> <span class="fa fa-play span1"></span></a>-->
                <div class="col-7">
                    <p class="font-weight-bolder text-white pt-2">Want to Watch
                        How We Work</p>
                </div>
            </div>
        </div>
        <div class="col-7 p-5">
            <p class="m-0 p-about">ABOUT US</p>
            <h2 class="font-weight-bolder">We are Taking Small Steps to Make Earth Better Planet</h2>
            <div><img src="assets/line.png"></div>
            <p class="color pt-5">One of the serious issues faced by our modern world is
                environmental pollution, and it is one the most significant
                challenges that the world is facing in our day. Environmental
                pollution has existed for centuries.</p>
            <div class="pt-3">
                <p class="text-secondary"><i class="fas fa-plus-circle mr-3 i-color"></i>Protect and enhance environment
                    for future generations.</p>
                <p class="text-secondary"><i class="fas fa-plus-circle mr-3 i-color"></i>Ecosystems are imperative to
                    maintaining a healthy planet.</p>
                <p class="text-secondary"><i class="fas fa-plus-circle mr-3 i-color"></i>Help protect the environment
                    and sustain its natural resources.</p>
            </div>
        </div>
    </div>
</section>

