<section class="container-fluid offer">
    <div class="container pt-5">
        <div class="text-center" >
        <div class="titel-offer ">
        <h2 class="font-weight-bolder">What We Offer</h2>
        <div class="pt-3"><img src="assets/line.png"></div>
        <p class="pt-3 text-secondary">Mauris id enim id purus ornare tincidunt.
         Aenean vel consequat risus. Proin viverra nisi at nisl imperdiet auctor.
         Donec ornare, est sed tincidunt placerat.</p>
        </div>
        </div>
        <div class="row p-5">
            <div class="col-sm-4 py-2" style="height: 175px">
                <div class="card h-100 text-white border-0 ">
                    <div class="card-body row cart-offer">
                        <div class="col-3"><img src="assets/001.png"></div>
                        <div class="col-9 text-left">
                            <h5 class="p-0 m-0"><a routerLink="" class="btn font-weight-bolder p-0 m-0">Wind Energy</a>
                            </h5>
                            <p class="card-text text-secondary p-0">Mauris id enim id purus ornare tincidunt.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 py-2" style="height: 175px">
                <div class="card h-100 text-white border-0 ">
                    <div class="card-body row cart-offer">
                        <div class="col-3"><img src="assets/002.png"></div>
                        <div class="col-9 text-left">
                            <h5 class="p-0 m-0"><a routerLink="" class="btn font-weight-bolder p-0 m-0">Renewable Energy</a>
                            </h5>
                            <p class="card-text text-secondary p-0">Mauris id enim id purus ornare tincidunt.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 py-2" style="height: 175px">
                <div class="card h-100 text-white border-0 ">
                    <div class="card-body row cart-offer">
                        <div class="col-3"><img src="assets/003.png"></div>
                        <div class="col-9 text-left">
                            <h5 class="p-0 m-0"><a routerLink="" class="btn font-weight-bolder p-0 m-0">Solar Energy</a>
                            </h5>
                            <p class="card-text text-secondary p-0">Mauris id enim id purus ornare tincidunt.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 py-2" style="height: 175px">
                <div class="card h-100 text-white border-0 ">
                    <div class="card-body row cart-offer">
                        <div class="col-3"><img src="assets/004.png"></div>
                        <div class="col-9 text-left">
                            <h5 class="p-0 m-0"><a routerLink="" class="btn font-weight-bolder p-0 m-0">Solar Energy</a>
                            </h5>
                            <p class="card-text text-secondary p-0">Mauris id enim id purus ornare tincidunt.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 py-2" style="height: 175px">
                <div class="card h-100 text-white border-0 ">
                    <div class="card-body row cart-offer">
                        <div class="col-3"><img src="assets/005.png"></div>
                        <div class="col-9 text-left">
                            <h5 class="p-0 m-0"><a routerLink="" class="btn font-weight-bolder p-0 m-0">Energy Saving</a>
                            </h5>
                            <p class="card-text text-secondary p-0">Mauris id enim id purus ornare tincidunt.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 py-2" style="height: 175px">
                <div class="card h-100 text-white border-0 ">
                    <div class="card-body row cart-offer">
                        <div class="col-3"><img src="assets/006.png"></div>
                        <div class="col-9 text-left">
                            <h5 class="p-0 m-0"><a routerLink="" class="btn font-weight-bolder p-0 m-0">Green Technology</a>
                            </h5>
                            <p class="card-text text-secondary p-0">Mauris id enim id purus ornare tincidunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>