

<section class="container-fluid img-total " style="background-image: url('assets/fff.jpg'); height: 300px;">
    <span class="page-title-overlay"></span>
    <div class="container">
        <div class="body-total ">
            <h3 class="text-white font-weight-bolder h3-total ">Events</h3>
            <div class="row p-a-total">
                <div class=""><a class="m-0 btn text-white font-weight-bolder ancor-total " routerLink="/">Home &nbsp;
                        -</a></div>
                <p class="p-0 mt-2 color-total ">Events</p>
            </div>
        </div>
    </div>
</section>

<app-events></app-events>

