<section class="container-fluid mb-5 mt-5 ">
    <div class="container">
        <h2 class="text-center font-weight-bolder">Upcoming Events</h2>
        <div class="text-center"><img src="assets/line.png"></div>

        <div class="card-deck pt-5">
            <div class="card">
                <img src="assets/event1.jpg" class="card-img-top" alt="...">
                <div class="card-footer bg-color">
                    <small class="text-light font-weight-bold col-8 p-0 m-0">March 3, 2020</small>
                    <small class="text-light  font-weight-bold text-right col-4 small-event"><i
                            class="far fa-clock mr-2"></i>6.00 am</small>
                </div>
                <div class="card-body p-4">
                    <a class="font-weight-bold btn p-0 m-0 ancor-event text-left" routerLink="">Native Tree Planting
                        Contest</a>
                    <a class="btn p-0 m-0 font-weight-bold ancor2-event pt-2" routerLink="">Read More<i
                            class="fas fa-long-arrow-alt-right ml-3 mt-2"></i></a>
                </div>
            </div>
            <div class="card">
                <img src="assets/event2.jpg" class="card-img-top" alt="...">
                <div class="card-footer bg-color">
                    <small class="text-light font-weight-bold col-8 p-0 m-0">March 3, 2020</small>
                    <small class="text-light  font-weight-bold text-right col-4 small-event"><i
                            class="far fa-clock mr-2"></i>6.00 am</small>
                </div>
                <div class="card-body p-4">
                    <a class="font-weight-bold btn p-0 m-0 ancor-event text-left" routerLink="">Environment Property Manage</a>
                    <a class="btn p-0 m-0 font-weight-bold ancor2-event pt-2" routerLink="">Read More<i
                            class="fas fa-long-arrow-alt-right ml-3 mt-2"></i></a>
                </div>
            </div>
            <div class="card">
                <img src="assets/event3.jpg" class="card-img-top" alt="...">
                <div class="card-footer bg-color">
                    <small class="text-light font-weight-bold col-8 p-0 m-0">March 3, 2020</small>
                    <small class="text-light  font-weight-bold text-right col-4 small-event"><i
                            class="far fa-clock mr-2"></i>6.00 am</small>
                </div>
                <div class="card-body p-4">
                    <a class="font-weight-bold btn p-0 m-0 ancor-event text-left" routerLink="">Green Nature Love & Chemistry</a>
                    <a class="btn p-0 m-0 font-weight-bold ancor2-event pt-2" routerLink="">Read More<i
                            class="fas fa-long-arrow-alt-right ml-3 mt-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>