<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/logoo.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form #myForm="ngForm" (ngSubmit)='loginAdmin(myForm.value)'>
        <input type="text" id="login" class="fadeIn second"  placeholder="username" name="email" ngModel>
        <input type="text" id="password" class="fadeIn third"  placeholder="password" name="password" ngModel>
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
     
    </div>
  </div>
