<section class="container-fluid  nav1" *ngIf="nav.visible">
<div class="container">
<div class=" row ">
    <p class="text-white font-weight-bold p1 col-4">Providing awesome since 2001 years</p>
    <p class="text-white font-weight-bold p2 col-6"> Have any question?<a href="tel:01112184923" class="text-white">
            +01112184923</a></p>
    <div class="col-2 p-4 pt-4 ">
        <a routerLink="" class="text-white p-3"> <i class="fab fa-facebook-f "></i> </a>
        <a routerLink="" class="text-white p-3"> <i class="fab fa-twitter"></i> </a>
        <a routerLink="" class="text-white p-3"> <i class="fab fa-google-plus-g"></i></a>
    </div>
</div>
</div>
</section>

<section class="container-fluid  " *ngIf="nav.visible">
<div class="container">
    <ul class="nav ">
        <div class="col-4">
        <li class="nav-item">
            <a class="nav-link active" routerLink=""><img src="assets/logoo.png" height="90px" width="120px"></a>
        </li>
        </div>
        <div class="row  menu col-8">

            <div class="pt-4">
                <li class="nav-item ">
                    <div class="row ">
                        <div class="media1">
                            <i class="far fa-map map"></i>
                        </div>
                        <div class="media2 ml-4">
                            <h2 class="font-weight-bold h2">Main Office</h2>236 advice the good, CA
                        </div>
                    </div>
                </li>
            </div>
            <div class="pt-4 pl-5 ml-3">
                <li class="nav-item ">
                    <div class="row">
                        <div class="media1">
                            <i class="far fa-smile map"></i>
                        </div>
                        <div class="media2 ml-4">
                            <h2 class="font-weight-bold  h2">Trusted By</h2>200000 User
                        </div>
                    </div>
                </li>
            </div>
            <div class="pt-4 pl-5  ml-3">
                <li class="nav-item ">
                    <div class="row ">
                        <div class="media1">
                            <i class="far fa-envelope map"></i>
                        </div>
                        <div class="media2 ml-4">
                            <h2 class="font-weight-bold  h2">Email</h2>engmosalah639@gmail.com
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </ul>
</div>
</section>


<section class="container-fluid bg-dark " *ngIf="nav.visible">
<div class="container ">
<div class=" navbar " >
        <ul class="nav ">
                <li class="nav-item ">
                  <a class="nav-link active text-light font-weight-bold icon" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light font-weight-bold icon" routerLink="about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light font-weight-bold icon" routerLink="service"> Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light font-weight-bold icon" routerLink="event"> Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light font-weight-bold icon" routerLink=""> Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light font-weight-bold icon1" routerLink="contact">Contact Us</a>
                </li>
                
              </ul> 
</div>
</div>
</section>