<section class="footer mt-5" *ngIf="footer.visible">
<div class="container footer1">
<div class="row">
    <div class="col-3 pl-0"> 
        <img src="assets/logoo.png" width="200px" height="100px">
        <p class="text-white font-weight-bold prag">Breno Is a Fully Responsive Green Energy Fund Raising Theme.</p>
        <div class="is">
        <a routerLink=""><i class="fab fa-facebook-f ii"></i></a>
        <a routerLink=""><i class="fab fa-twitter ii"></i></a>
        <a routerLink=""><i class="fab fa-instagram ii"></i></a>
        <a routerLink=""><i class="fab fa-linkedin-in ii"></i></a>
        </div>
    </div>
    <div class="col-3 pl-4">
        <h3 class="text-white font-weight-bold">Quick Links</h3>
        <div class="line"></div>
        <div class="row pt-5">
            <a routerLink="" class=""><p class="f-hover btn text-white font-weight-bold"> <i class="fas fa-arrow-right i2"></i>Home</p></a>
            <a routerLink=""><p class="f-hover btn text-white font-weight-bold"><i class="fas fa-arrow-right i3"></i>Privacy Policy</p></a>
        </div>
        <div class="row">
                <a routerLink="" class=""><p class="f-hover btn text-white font-weight-bold"> <i class="fas fa-arrow-right i2"></i>About</p></a>
                <a routerLink=""><p class="f-hover btn text-white font-weight-bold"><i class="fas fa-arrow-right i3"></i>Appointment</p></a>
        </div>
        <div class="row ">
            
            <div> <a routerLink="" class=""><p class="f-hover btn text-white font-weight-bold"> <i class="fas fa-arrow-right i2"></i>Services</p></a></div>
            <div> <a routerLink="" class=""><p class="f-hover btn text-white font-weight-bold"><i class="fas fa-arrow-right i3"></i>Careers</p></a></div>
        </div>
        <div class="row ">
                <a routerLink="" class=""><p class="f-hover btn text-white font-weight-bold"> <i class="fas fa-arrow-right i2"></i>Portfolio</p></a>
                <a routerLink=""><p class="f-hover btn text-white font-weight-bold"><i class="fas fa-arrow-right i3"></i>Events</p></a>
        </div>
        <div class="row ">
                <a routerLink="" class=""><p class="f-hover btn text-white font-weight-bold"> <i class="fas fa-arrow-right i2"></i>News</p></a>
                <a routerLink="" class=""><p class="f-hover btn text-white font-weight-bold"><i class="fas fa-arrow-right i3"></i>Contact Us</p></a>
        </div>
    </div>
    <div class="col-3 pl-4">
            <h3 class="text-white font-weight-bold">Quick Links</h3>
            <div class="line"></div>
            <a routerLink="" class=""><p class="pl-0 pt-5 m-0 text-left f-hover btn text-white font-weight-bold">Technology Can Help Save Our Environment</p></a>
            <p class="p-footer pt-3">JULY 3, 2018</p>
            <a routerLink="" class=""><p class="pl-0 pt-2 m-0 text-left f-hover btn text-white font-weight-bold">Cook Meals Without Cooking The Animals Planet</p></a>
            <p class="p-footer pt-3">JULY 3, 2018</p>
    </div>
    <div class="col-3 pl-4">
            <h3 class="text-white font-weight-bold">Get In Touch</h3>
            <div class="line"></div>
            <p class="p2-footer pt-5 font-weight-bold">If you Want to more information about us just enter your email</p>
            <input type="email" class="form-control p-4 input-footer" placeholder="Enter email">
            <a routerLink="" class=" btn btn-footer font-weight-bold ">GO</a>
    </div>
</div>
</div> 
<hr class="bg-secondary mt-5">
<div class="container">
    <p class="text-center text-white pt-3"> Copyrights &copy; 2019<span class="span-footer"> Recycling </span>Designed by <span class="span-footer">Mo Salah</span></p>
</div>
</section>