/*-- slid----*/
.slid{
    height: 125vh;
}
.h5{
    color: #75c060 ;
    text-transform: uppercase;
    font-size: 60px;
}
.p1{
    font-size: 35px;
} 
.slider1{
    margin-bottom: 25%;
}

.btnn{
    background:#75c060 ;
    color: white;
    margin-top: 5%;
   
}
.btnn:hover{
    background: white !important;
    color:black !important;
}


/*-- carts----*/
.carts{
    margin-top:-10%;
}
.cart{
    margin-top:-2%;
    border-radius: 3% !important;
    background: #75c060;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
  }
.hh5{
    font-size: xx-large;
}
.cartone{
    padding-top: 25%;
}

/*-- about----*/

.about{
    height: 500px;
    background-size: cover !important;
    border-radius: 5%;
    position: relative;
}
.video{
    position: absolute;
    top: 55%;
    left: 40.5%;
    background: #75c060;
    padding: 5% 0% 5% 2%;
    width: 63%;
    border-radius: 75px 0 0 75px;
    -webkit-border-radius: 75px 0 0 75px;
}
.ancor{
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.span1{
   color: #75c060;
}
.p-about{
      color: #75c060;
      font-weight: bolder;
} 
.color{
   color: #a4a4a4
}
.i-color{
    color: #75c060;
}

/*-- counter----*/
.count{
    height: 300px;
    padding: 9%;
}
.hh2{
    color: #75c060;
    font-size: 55px;
}
.span2{
    color: #75c060;
    font-size: 30px;
}
.pp{
    color: #a4a4a4;
    font-size: 20px;
    font-weight:bolder ;
}



.cc{
    background-image:url("src/assets/countr.jpg"); 
  
} 

.count1{
    position: relative;
}
.count1::after{
    content:'';
    position: absolute;
    border: .5px solid #a4a4a4;
    right:0;
    top: 0;
    height:100% ;
}
/*-- slid----*/